*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;

}
a{
    text-decoration: none;
}
/* utilities */



.bg-corn{
    background-color: rgb(153, 202, 244);
}
h1{
    font-size: 5rem
}
.mg-bottom20px{
    margin-bottom: 20px;
}
.cover{
    background-size: cover;
    background-position: center;
}
.h100{
    height: 100px;
}
.h300{
    height: 300px;

}
.pdg-top20{
    padding: 20px;
}
.mg-bot100{
    margin-bottom: 100px;
}
.mgtop20{
    margin-top: 20px;
}
.mg-top40{
    margin-top: 40px;
}
.mg-bot40{
    margin-bottom: 40px;
}
.mg-top100{
    margin-top: 100px;
}
.mg-auto{
    margin: 0 auto;
}
.text-left{
    text-align: left;
}
.c-gray{
    color: gray;
}
.sans-serif{
    font-family: sans-serif;
}
.flex{
    display: flex;
}
.bg-white{
    background-color: white;
}
.color-black{
    color: black;
}
.bs{
    border: 1px solid black;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.btn{
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 30px;
}
.btn-2{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 30px;
    border: 2px solid black;
    font-family: sans-serif;
}
.list{
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px 20px;
    font-family: sans-serif;
    font-size: 1rem;
    gap: 10px;
}
.strong-txt{
    font-size: 2rem;
    font-family: sans-serif;

}
.bs-bot{
    border-bottom: 1px solid black;
}
.underline{
    text-decoration: underline;
}
.pdg-bot20{
    padding-bottom: 20px;
}
.pdg-bot40{
    padding-bottom: 40px;
}
.mg-bot20{
    margin-bottom: 20px;
}
.title{
    text-align:left;
}
.pdg-left10{
    padding-left: 10px;
}
.mw-50{
    max-width: 50%;
}
.mw-60{
     max-width: 60%;
}

.w-70{
    width: 70%;
}
li{
   list-style: none;
   padding: 10px;
   font-family: sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.bold{
    font-size: 2rem;
}
.pdg-top{
    padding-top: 50px;
}
.col-30{
    width: 30%;
}
.pdg-10{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.h300{
    height: 300px;
}
.title{
    text-align: center;
}
.pdg10{
    padding: 10px;
}
.pdg-top30{
    padding-top: 30px;
}
.pdg-left20{
    padding-left: 20px;
}
.pdg-bot50{
    padding-bottom: 50px;
}




/*fine utilities */






.nav{
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    /* regole */


    /* height: 80px;
    border: 1px solid black;
    background-color: antiquewhite; */
}
.support{
    justify-content: flex-end;
}
.job{
    max-width: 70%;
    display: flex;


    /* height: 400px; */
    /* background-color: bisque; */
}
.descrizione-lavoro{
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    min-height: 500px;
}
.partner{
    min-height: 600px;
}
.prova-gratis{
    width: 30%;

    /* height: 400px; */
}
.proposta img{
    background-size: cover;
    /* height: 300px; */
    /* width: 500px; */
}
.buisness{
    max-width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    /* min-height: 800px; */
    /* background-color: cadetblue; */
}
.planes{
    justify-content: space-between;
}
.prove-plane{
    margin: 60px;
}
.divisor{
    width: 15%;
    margin: 50px 20px;
    border: 1px solid black;
}
.tit-team{
    width: 100%;

    /* min-height: 100px */
}
.row{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.search{
    padding-top: 100px;
    padding-left: 30px;
}
.client{
    max-width: 50%;
    background-color: brown;
}
.column{
    max-width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:left;
    color: white;
    font-family: sans-serif;
}
.col-40{
    width: calc(100% / 4);

    /* height: 200px; */
}





/* BACKGROUND COLOR */


.bg-black{
    background-color: black;
}
.bg-crimson{
    background-color: crimson;
}
.bg-marine{
    /* background-color: aquamarine; */
}
